{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('crud-categocy_index') }}">
            <h1>Категории</h1>
        </a>
    </div>

    <div>
        <a href="{{ path('crud-product_index') }}">
            <h1>Продукты</h1>
        </a>
    </div>
{% endblock %}